:root {
    /*Colores principales de marca*/
    --colorPurple: #9900CC;
    --colorWhite: #FFFFCC;
    --colorSilver: #CCCCCC;
    --colorBlack: #000000;
  }
  
  #presupuesto {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 965px;
    height: 200px;
    color: var(--colorWhite);    
    font-family:"Titan One", system-ui;
    font-size: 1vw;
  }


/* Formulario */
form{
	position:relative;	
	height:330.4px;
	/* no especifico un width, coge el de su padre, el section */
	border:4px double  white;
	border-radius:50px;
	
	z-index: 1;	                             /*para colocarlo detrás del menú */
}

fieldset {
	position:relative;
	float: left;
	/* bajo un poco el fieldset del formulario */
	 margin-top: 10px; 
	/* aplico padding solo en left y right */
	padding: 0px 12px;	
	/* importante darle tamaño */
	height:250px;
	width: 180px;
	border-right:2px dotted white;
	/*alineo todo a la derecha, todo lo que está en su interior*/
	text-align: right;	        
}

fieldset a , fieldset label{
	display:inline-flex;
}

fieldset input {	
	vertical-align: middle;	     /* input alineado verticalmente con label */
}

#multiples_tray select, #fechas input {
	margin: 4px 0;
}

#tipo_viajero {	
	padding-top: 10px;
	border-right: 0;                 /* quito el borde derecho de este fieldset */
}

#tipo_viajero input {
	float:left;
	clear:left;
	/* para centrarlo con label, ya que no funciona el vertical-align:middle al no estar primero label y luego input*/
	margin-top: 10px;   
}

#tipo_viajero label {
	float: left;
    margin-left: 2px;                  /*separo el label del input */
	/* para centrarlo con input, ya que no funciona el vertical-align:middle al no estar primero label y luego input*/
	margin-top: 7px;
}

#sel_adulto {
	width: 50px;
	margin-top: 5px;
}

select, #fecha_salida, #fecha_regreso {
	position:relative;
	height:40px;
	width:180px;
	font-family: "Titan One"; /* bold font-style mas grueso y otro bold font-weight negrita */
	color:#ffffff;
	background:#666666;
	border:2px solid #FFFFCC;
	border-radius: 5px;
	margin-top:5px;
	font-size:1vw;
}



#viajeros {
	padding-top: 10px;
}

#viajeros label, #viajeros a{	
	float: left;
	clear: left;
	margin-top: 13px; 
}

#viajeros a {
	padding-top: 8px;      /* separo los a de viajeros */
}

#sel_adulto {
	height: 30px;	       /*la caja más pequeña de ese select concreto*/         
	float:right;
}

#buscar {
	position: absolute;
	/* le damos un tamaño */
	width: 100px;
	height: 40px;
	/* lo centro en altura */
	top: 50%;
	transform: translate(0%, -50%);
	border-radius: 8px;	
	font-family: "Titan One";
	background:#666666;
	color:#ffffff;
	margin-top:5px;

}


textarea {
    height:85px;
	width: 180px; }

 .datos {
	/*height:40px;*/
	/*width:175px;*/

	background:#666666;
    border:2px solid #FFFFCC;
    /* padding:15px; */
    margin-top:5px;
    font-size:1vw;
    color:#ffffff;
    border-radius: 5px;
    font-family: "Titan One";

}
	
    




  