:root {
    /*Colores principales de marca*/
    --colorPurple: #9900CC;
    --colorWhite: #FFFFCC;
    --colorSilver: #CCCCCC;
    --colorBlack: #000000;
    
}

main{
    margin-top: 2%;
}

label {
    display:block;
    margin-top:20px;
    margin-bottom:8px;
    letter-spacing:1px;
    color: var(--colorWhite);    
    font-family:"Titan One", system-ui;
    font-size: 1.5vw;
}
 
/* .principal {
    display:block;
    margin:0 auto;
    width:510px;
    color: var(--colorSilver);
    font-family:"Titan One", system-ui;
} */
 
form {
    margin:0 auto;
    width:400px;
}
 
input, textarea, select {
    width:380px;
    height:27px;
    background:#666666;
    border:2px solid #FFFFCC;
    /* padding:15px; */
    margin-top:5px;
    font-size:1vw;
    color:#ffffff;
    border-radius: 5px;
    font-family: "Titan One";
}

input {
    font-size: 1.3vw;
}
 
textarea {
    height:150px;
}
 
select {
    width: 400px;
    height: 35px; 
}

#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}
  
  