:root {
    /*Colores principales de marca*/
    --colorPurple: #9900CC;
    --colorWhite: #FFFFCC;
    --colorSilver: #CCCCCC;
    --colorBlack: #000000;
  }
  
  main{
    margin-top: 2%;
}

#grid10{
    position: absolute;
    display: grid;
    padding: 0;
    margin-bottom: 1.5em;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    
    
}



article{

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50px;
    
      
}



#grid10 .area1{
    grid-column-start: 1;
    grid-column-end: 8;
    
}


#grid10 .area2{

    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
   
    
}

#grid10 .area2a{

 
  grid-column: 1 / span 3;
  
  border:4px double  #CCCCCC;
 
  
}

#grid10 .area3{
    grid-row: 2 / span 1;
    grid-column: 4/ span 4;
    
}
#grid10 .area4{
    grid-column: 4/ span 4;
    border:4px double  #CCCCCC;
}




label, h3 {
    display:block;
    margin-top:20px;
    margin-bottom:8px;
    letter-spacing:1px;
    color: var(--colorWhite);    
    font-family:"Titan One", system-ui;
    font-size: 1.5vw;
}
 

/* .principal {
    display:block;
    margin:0 auto;
    width:510px;
    color: var(--colorSilver);
    font-family:"Titan One", system-ui;
} */
 
form {
    margin:0 auto;
    width:400px;
    position:relative;		
	border-radius:0 0 8px 8px; 
   

}
 
input,  select {
    width:380px;
    height:27px;
    background:#666666;
    border:2px solid #FFFFCC;
    /* padding:15px; */
    margin-top:5px;
    font-size: 1.3vw;
    color:#ffffff;
    border-radius: 5px;
    font-family: "Titan One";
}

 

.horario{
  width:20px;
  height:15px;
  
}


#tipo_viajero {	
	padding-top: 10px;
	border-right: 0;                 /* quito el borde derecho de este fieldset */
}

fieldset label{
	display:inline-flex;
}

fieldset input {	
	vertical-align: middle;	
         /* input alineado verticalmente con label */
}



#tipo_horario input {
	float:left;
	clear:left;
	/* para centrarlo con label, ya que no funciona el vertical-align:middle al no estar primero label y luego input*/
	  
}

#tipo_horario label {
	float: left;
    margin-left: px;                  /*separo el label del input */
	/* para centrarlo con input, ya que no funciona el vertical-align:middle al no estar primero label y luego input*/
	margin-top: 2px;
    font-size: 1.3vw;
}



#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    margin-left: 150px;
    cursor:pointer;
    
}