:root {
    /*Colores principales de marca*/
    --colorPurple: #9900CC;
    --colorWhite: #FFFFCC;
    --colorSilver: #CCCCCC;
    --colorBlack: #000000;
  }
  
  /*section para contener formulario*/
  #presupuesto {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 200px;
    color: var(--colorWhite);    
    font-family:"Titan One", system-ui;
    font-size: 1.1vw;
  }


/* Formulario */
form{
	position:relative;	
	height:340.4px;
	border:4px double  #FFFFCC;
	border-radius:50px;
}

fieldset {
	position:relative;
	float: left;
	margin-top: 20px; 
	padding: 12px;	
	height:250px;
	width: 230px;
	border-right:4px double  #FFFFCC;
	text-align: left;	        
}

fieldset a , fieldset label{
	display:inline-flex;
}

/*input alineado con label */
fieldset input {	
	vertical-align: middle;	     
}

#multiples_datos select, #fechas input {
	margin: 4px 0;
}

/* se quital el borde derecho del último fieldset */

#tipo_cliente {	
	padding-top: 10px;
	border-right: 0;                 
}

	/* centrarlo con labelt*/

#tipo_cliente input {
	float:left;
	clear:left;
	margin-top: 10px;   
}

 /*espacio entre el label y el input */
#tipo_cliente label {
	float: left;
    margin-left: 2px;                  
	margin-top: 7px;
}
/*tamaño del selector */
#sel_tamano {
	
	width: 200px;
	margin-top: 10px;
}

select, #fecha, #hora {
	position:relative;
	height:40px;
	width:190px;
	font-family: "Titan One"; 
	color:#ffffff;
	background:#666666;
	border:2px solid #FFFFCC;
	border-radius: 5px;
	margin-top:5px;
	font-size:1.1vw;
}



#cliente {
	padding-top: 10px;
}

#cliente label, #cliente a{	
	float: left;
	clear: left;
	margin-top: 13px; 
}

#cliente a {
	padding-top: 8px;      
}



#solicita {
	position: absolute;
	width: 150px;
	height: 40px;
	top: 80%;
	transform: translate(0%, -50%);
	border-radius: 8px;	
	font-family: "Titan One";
	background:#666666;
	color:#ffffff;
	margin-top:5px;

}


textarea {
    height:90px;
	width: 190px; }


/*estilo para clase "datos" especifica para los input nombre, email, telefono y caja de texto */	

 .datos {
	/*height:40px;*/
	/*width:175px;*/

	background:#666666;
    border:2px solid #FFFFCC;
    /* padding:15px; */
    margin-top:5px;
    font-size:1vw;
    color:#ffffff;
    border-radius: 5px;
    font-family: "Titan One";

}

h1{
	float: inherit;
	clear: left;

}
    




  