:root {
    /*Colores principales de marca*/
    --colorPurple: #9900CC;
    --colorWhite: #FFFFCC;
    --colorSilver: #CCCCCC;
    --colorBlack: #000000;
    
  }

  label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
    color: #FFFFCC;
}
 
.principal {
    display:block;
    margin:0 auto;
    width:510px;
    color: #CCCCCC;;
    font-family:"Modak", system-ui;
}
 
form {
    margin:0 auto;
    width:400px;
}
 
input, textarea, select {
    width:380px;
    height:27px;
    background:#666666;
    border:2px solid #FFFFCC;
    padding:10px;
    margin-top:5px;
    font-size:10px;
    color:#ffffff;
}
 
textarea {
    height:150px;
}
 
select {
    width: 400px;
    height: 35px; 
}

#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}
  
  