:root {
    /*Colores principales de marca*/
    --colorPurple: #9900CC;
    --colorWhite: #FFFFCC;
    --colorSilver: #CCCCCC;
    --colorBlack: #000000;
    
}

main{
    margin-top: 2%;
}

article{
    display: grid;
    padding: 0;
    margin-bottom: 1.5em;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    
}

section{
    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50px;
    
}



#grid10{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
}

#grid10 .area1{
    grid-column-start: 1;
    grid-column-end: 8;
    
}

#grid10 .area2{

    grid-row: 2 / span 4;
    grid-column: 1 / span 3;
   
    
}
#grid10 .area3{
    grid-row: 2/ span 1;
    grid-column: 4/ span 4;
    
}
#grid10 .area4{
    grid-column: 4/ span 4;
}
#grid10 .area5{
    grid-column: 4/ span 4;
    grid-row: 4/ span 2;
}



label, h3 {
    display:block;
    margin-top:20px;
    margin-bottom:8px;
    letter-spacing:1px;
    color: var(--colorWhite);    
    font-family:"Titan One", system-ui;
    font-size: 1.5vw;
}
 
/* .principal {
    display:block;
    margin:0 auto;
    width:510px;
    color: var(--colorSilver);
    font-family:"Titan One", system-ui;
} */
 
form {
    margin:0 auto;
    width:400px;
}
 
input, textarea, select {
    width:380px;
    height:27px;
    background:#666666;
    border:2px solid #FFFFCC;
    /* padding:15px; */
    margin-top:5px;
    font-size:1vw;
    color:#ffffff;
    border-radius: 5px;
    font-family: "Titan One";
}

input, select {
    font-size: 1.3vw;
}
 
textarea {
    height:150px;
}

p {

    color:#ffffff;   
    font-family: "Titan One";

}
 

#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
    
}
  
  