:root {
    /*Colores principales de marca*/
    --colorPurple:#9900CC;
    --colorWhite:#FFFFCC;
    --colorSilver:#CCCCCC;
    --colorBlack:#000000;
}

/********Ajustes de página********/
*{
    border:0px;
    margin:0px;
    padding:0px;
}

/********Etiquetas HTML********/
h1 {
    color: var(--colorSilver);
    text-align: center;
    font-family: modak;
}

body{
    background-color: var(--colorBlack);
}

/********Clases********/
@font-face {
    font-family: modak;
    src: url(fonts/modak/Modak-Regular.ttf);
}