:root {
    /*Colores principales de marca*/
    --colorPurple:#9900CC;
    --colorWhite:#FFFFCC;
    --colorSilver:#CCCCCC;
    --colorBlack:#000000;
}

.modak-regular {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
}
  

/********Ajustes de página********/
*{
    border:0px;
    margin:0px;
    padding:0px;
}

/********Etiquetas HTML********/
a {
    color: blue;
    text-decoration: none; 
}

body{
    background-color: var(--colorBlack);    
}

nav {
    display: block;
    font-size: 0px; /*Puesto para evitar espacios entre elementos*/
    position: fixed;
    width: 100%;
    top: 0;
}

main{
    margin: 35px;
}
  
h1 {
    color: var(--colorSilver);
    text-align: center;
    font-family: "Modak", "Comic Sans MS", "Comic Sans", cursive, system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
}



/********Clases********/
.elementoNav{
    width: 20%;
    display: inline-block;
    background-color: var(--colorPurple);
    height: 35px;
    text-align: center;
    font-size: 26px;
    color:var(--colorWhite);
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /*Modak;*/
    box-sizing: border-box;
}






#navbar {
    
    background-color: #333;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  nav + a {
    padding-top: 60px;
  }