:root {
    /*Colores principales de marca*/
    --mainPurple:#9900CC;
    --mainWhite:#FFFFCC;
    --mainSilver:#CCCCCC;
    --mainBlack:#000000;
}

*{
    border:0px;
    margin:0px;
    padding:0px;
}

.aa {
    color: var(--mainSilver);
    align-items: center;
}

body{
    background-color: var(--mainBlack);
}