/************************Globales************************/
:root {
  /*Colores principales de marca*/
  --colorPurple: #9900CC;
  --colorWhite: #FFFFCC;
  --colorSilver: #CCCCCC;
  --colorBlack: #000000;
}

.modak-regular {  
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

.titan-one-regular {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/********Selector universal********/
* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

/********************************************************/


/***********************Principal************************/
a {
  color: var(--colorWhite);
  text-decoration: none;
}

body {
  background-color: var(--colorBlack);
}

h1 {
  color: var(--colorSilver);
  text-align: center;
  font-family: "Modak", "Comic Sans MS", "Comic Sans", cursive, system-ui;
  font-weight: 400;
  font-size: 8vh;
}

#logo{
  margin-left: 6vw;
  margin-top: 6vh;
  width: 6vw;
}

#titulo1{
  color: var(--colorWhite);
  font-size: 3vw;
  margin-top: 60vh;
  margin-left: 3vw;
}

section{  
  padding-top: 4vh;
  width: 100%;
}

.seccionIntermedia{
  height: 96vh;
}

.seccionFinal{
  height: 93vh;
}

#seccion1{
  background-image: linear-gradient(
    to bottom,
    rgb(0 0 0 / 10%),
    rgb(153 0 204 / 10%)
  ), url("../img/tattoostudio.png");
  background-size: cover;
  background-position-y: center;
}

#seccion2 *{
  display:inline-block;
}

#seccion2 img{  
  margin-top: 15%;
  width:50%;
}

#seccion2 article{
  color:var(--colorWhite);
  width: 30%;
  padding: 16% 5%;  
  vertical-align: center;
  vertical-align: top;
}

#seccion2 article *{
  display:block;
  text-align: center;
  margin: 0 auto;
  font-size: 2vw;
}

footer{  
  width: 100%;
  height: 3vh;
  color: var(--colorWhite);
  text-align: center;
  align-items: center;
  clear:both;
}


/********************************************************/


/************************Nav desplegable************************/

nav {  
  position: fixed;
  top:0;
  width: 100%;
  height: 4vh;  
  border-top: 1px solid var(--colorWhite);
  border-bottom: 1px solid var(--colorWhite);
  background-color: var(--colorBlack);
}

nav ul {
  height: inherit;
  display: flex;
  list-style: none;
  list-style-type:none;  	
}

nav li {
  float: left;
  width: 25%;
  margin-right: 1px;
  height: inherit;
  background-color: var(--colorPurple);
  color: var(--colorWhite);
  text-align: center;
  font-size: 3.2vh;
  font-family: "Titan One", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Estilos para los link */   
nav li a {
  display:block;	
  height:inherit;
  min-width:100%;	
  text-align: center;
  text-decoration: none;
  transition:all 3s ease;
}

/* estados hover de los link */   
nav li:hover a {  
  background: var(--colorBlack);
}

/* estilos del dropdown */        
nav li:hover ul a {
  background: #555555; 
}

/* estilos del estado hover del dropdown*/   
nav li:hover ul a:hover {
  background: var(--colorWhite);
  color: var(--colorBlack);
  transition:all 0.3s ease;
}

nav li ul {
  display: none;    
}
 
nav li ul li {
  display: block;
  float: none; 
  width:inherit;
}

nav li ul li a {
  white-space: nowrap;
}

/* Aparace el dropdown al pasar por encima de ambos submenus*/   
nav ul li a:hover + .submenu, .submenu:hover {    
  display: block;
} 

nav ul li ul li {                      
  position: relative;	
}

.submenu .submenu li a {        
  background: var(--colorPurple);
  color: var(--colorWhite);
  padding: 0 15%;
}

.submenu .submenu {              
  position: absolute;
  top: 0px; 
  left: 100%; 
}

/********************************************************/


/************************Carrusel************************/
#seccion4{
  background: linear-gradient(to bottom right, cornflowerblue, var(--colorPurple));
}

.list-wrapper {
  padding:25vh 0;
}

.list {
  width:75%;
  margin:0 auto;  
  display: flex;  
	transform: translate(4.5%, 0);
  gap: 8px;
  padding: 16px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;  
  /* Hide scrollbar in Firefox */
  scrollbar-width: none;
  /* Hide scrollbar in IE and Edge */
  -ms-overflow-style: none;
}

/* Hide scrollbar in webkit */
.list::-webkit-scrollbar {
  display: none;
}

.carrItem {  
  flex-shrink: 0;
  width: 22%;
  height: 35vh; 
  background-color: var(--colorBlack); 
  scroll-snap-align: center;
  border-radius: 2vw;
  margin: 1.8%;
}

.carrItem:hover{  
  transition: all .5s ease-in-out;
  transform: scale(1.2);
}

.carrItem figure{
  height: 100%;
  text-align: center;
  color: var(--colorWhite);
  
}

.carrItem img{
  max-width: 100%;
  max-height: 100%;
  width:fit-content;
  height: fit-content;
  border-radius: 2vw;
  
}

.button {
  margin-top: 6%;
  scale: 70%;
  width: 2rem;
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.button--previous {
  float:left;
  margin-left: 1%;
}

.button--next {
  float:right;
  margin-right: 5%;
}

/********************************************************/

