:root {
    /*Colores principales de marca*/
    --mainPurple:#9900CC;
    --mainWhite:#FFFFCC;
    --mainSilver:#CCCCCC;
    --mainBlack:#000000;
}

*{
    border:0px;
    margin:0px;
    padding:0px;
}

h1 {
    color:red;
}
