:root {
    /*Colores principales de marca*/
    --colorPurple:#9900CC;
    --colorWhite:#FFFFCC;
    --colorSilver:#CCCCCC;
    --colorBlack:#000000;
}

.modak-regular {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
}
  

/********Ajustes de página********/
*{
    border:0px;
    margin:0px;
    padding:0px;
}

/********Etiquetas HTML********/
a {
    color: var(--colorWhite);
    text-decoration: none; 
}

body{
    background-color: var(--colorBlack);    
}

nav {
    display: block;
    font-size: 0px; /* Puesto para evitar espacios entre elementos */
    position: fixed;
    width: 100%;
    top: 0;
    border: 1px solid yellow;
    height: 35px;
}

main{
    margin: 35px;
}
  
h1 {
    color: var(--colorSilver);
    text-align: center;
    font-family: "Modak", "Comic Sans MS", "Comic Sans", cursive, system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
}



/********Clases********/
.elementoNav{
    width: 20%;
    display: inline-block;
    background-color: var(--colorPurple);
    
    text-align: center;
    font-size: 26px;
    color:var(--colorWhite);
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /*Modak;*/
    border:0px;
    margin:0px;
    padding:0px;

    /* top:50%; */
}

















































/* Ideas clase */

/* nav ul {
    transform:translate(50%, 0%);
}

nav ui li {
    display:inline-table;
    padding: 0 3%;
    padding-left: 20%;
}

article h2{
    text-align: center;
}

footer{

    align-items: center;
} */